{% load static %}
<html lang="en">
    <link rel="stylesheet" href="{% static 'slide_bg.css' %}">
    <link rel="stylesheet" href="{% static 'sty_credits.css' %}">
<head>
<title>Developer Credits</title>
</head>
<body>
    <main>
        <div class="form-box">
        <div class="container2">
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        <div class="content1">
        <section class="developer">
        <header>
        <h1>Developers Credits</h1>
            </header>
        <section class="developer">
        <h2>Front-End Developer</h2>
        <div class="developer-info">
        <div>
        <h3>Sreemoyee Dutta</h3>
        <p>Lead Front-End Developer</p>
        <p>Email: sreemoyee.dutta.india@gmail.com</p>
      </div>
        </div>
        </section>
        <section class="developer">
        <h2>Back-End Developer</h2>
        <div class="developer-info">
      <div>
        <h3>Swagata Das</h3>
        <p>Lead Back-End Developer</p>
        <p>Email:swagatadas003@gmail.com </p>
      </div>
        </div>

    </div>
    </main>
    <footer>
    <p>&copy; 2024 School Fees Tracker Management System.</p>
    </footer>
</div>
</div>
</body>
</html>
